# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/node_modules

# build
app/dist

# .env
app/.env

# logs
app/pnpm-debug.log

# tests
/app/newman

# Secret files
secrets/jwt_secret
*.iml

.env
