# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# build
dist

# .env
.env

# logs
pnpm-debug.log

# tests
newman

# Secret files
secrets/jwt_secret
*.iml